:root {
  --main-color: #22294E;
  --light-shade: #D0CAB6;
  --light-accent: #70A3C2;
  --dark-shade: #4B73A0;
  --dark-accent: #151519;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--light-shade);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--main-color);
}
